* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: arial;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('./images/pattern-background-mobile.svg') no-repeat center top, hsl(225, 100%, 94%);
  background-size: 100vw;
}

.card {
  width: 33rem;
  border-radius: 1.5rem;
  background: hsl(225, 100%, 100%);
  margin: 10rem auto;
}

.card_header {
  width: 100%;
}

.card_header-illustration {
  max-width: 100%;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.card_main {
  padding: 4rem 2rem;
  text-align: center;
}

.card_main-heading {
  font-size: 2rem;
  font-weight: 900;
}

.card_main-description {
  font-size: 1.6rem;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  width: 90%;
  margin: 2rem auto auto auto;
  line-height: 2.4rem;
}

.card_main_plan {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  background: hsl(225, 100%, 98%);
  border-radius: 1.5rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_main_plan_details {
  margin-left: -3rem;
}

.details-plan {
  color: hsl(223, 47%, 23%);
  font-size: 1.4rem;
  font-weight: 700;
  width: 100%;
}

.details-price {
  font-size: 1.4rem;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  width: 100%;
  margin-top: .5rem;
}

.card_main_plan-change {
  margin-right: 0;
  font-size: 1.4rem;
  font-weight: 700;
  color: hsl(245, 75%, 52%);
}

.card_main_plan-change:hover {
  text-decoration: none;
  opacity: .7;
}

.card_main-btn {
  display: block;
  width: 100%;
  background: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 100%);
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 1.5rem;
  font-weight: 700;
  padding: 1.6rem;
  margin-top: 2rem;
}

.card_main-btn:hover {
  opacity: .7;
}

.card_main-cancelorder {
  display: block;
  margin-top: 2rem;
  color: hsl(224, 23%, 55%);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
}

.card_main-cancelorder:hover {
  color: hsl(223, 47%, 23%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 760px) {
  body {
    background: url('./images/pattern-background-desktop.svg') no-repeat center top, hsl(225, 100%, 94%);
  }

  .card {
    width: 36rem;
  }
}